/* Pon tu código css aqui */
.contenedor{
	background-color: #fff;
	border: 2px solid grey;
	width: 900px;
	display: block;
}



.box {
	width: 200px;
	height: 200px;
	float: left;

}

.uno {
	background-color: #FFFF00;

}

.dos {
	background-color: #3CB0CD;
	
}

.tres {
	background-color: #D22854;
	
}

